<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.cpjk.washu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.cpjk.washu.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.cpjk.washu.CustomerActivity"
            android:label="@string/title_activity_customer"
            android:parentActivityName="me.cpjk.washu.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.cpjk.washu.MainActivity" />
        </activity>
        <activity
            android:name="me.cpjk.washu.CustomerCreateOrderActivity"
            android:label="@string/title_activity_customer_create_order"
            android:parentActivityName="me.cpjk.washu.CustomerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.cpjk.washu.CustomerActivity" />
        </activity>
    </application>

</manifest>
